<div class="sidebar-bottom d-flex flex-wrap justify-content-around mt-4">
  <a href="https://github.com/{{ site.github.username }}" target="_blank">
    <i class="fab fa-github"></i>
  </a>

  <a href="https://www.linkedin.com/in/{{ site.linkedin.username }}" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>

  <a href="https://www.artstation.com/{{ site.artstation.username }}" target="_blank">
    <i class="fab fa-artstation"></i>
  </a>

  <a href="mailto:{{ site.social.email }}">
    <i class="fas fa-envelope"></i>
  </a>

  <a href="{{ site.baseurl }}/feed.xml" target="_blank">
    <i class="fas fa-rss"></i>
  </a>
</div>
